.secondbar {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 99;
}

.b1 {
  width: 10%;
  margin-left: 135px;
  padding: 20px;
}

.b2 {
  position: absolute;
  left: 30%;
  top: 0%;
  padding: 30px;
}

.b2 ul li {
  display: inline-block;
  font-size: 18px;
  margin-left: 40px;
  text-decoration: none;
}
.b2 ul li a {
  color: black;
  text-decoration: none;
}
.b2 ul li a:hover {
  border-radius: 10px;
  color: rgb(23, 255, 93);
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.b2 .dropdown-content {
  display: none;
  position: absolute;
  top: 63%;
  left: 120px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.b2 .dropdown-content li {
  width: 204px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  justify-content: space-between;
}
.b2 .dropdown-content .shop {
  padding-top: 30px;
}

.b2 .dropdown-content li a {
  color: black;
  font-weight: normal;
}

.b2 .dropdown:hover .dropdown-content {
  display: block;
}
.b3 {
  position: absolute;
  width: 20%;
  left: 80%;
  top: 40%;
}
.b3 i {
  padding-left: 20px;
}

.b3 span {
  margin-left: 10px;
}
.b3 span i {
  color: black;
}
